body{
    background-color: rgb(255, 219, 175);
}
h1{
    text-align: center; color: black;
}
p{
    text-align: center; color: black;
}
img{
    https://br.freepik.com/fotos/doces-caseiros text-align center 
}