body{
    background-color: rgb(255, 219, 175);
}
h1{
    text-align: center; color: black;
}
p{
    text-align: center; color: black;
}
img{
       text-align: center;
}
img{
      text-align: left: ;
}